<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link
      crossorigin="anonymous"
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/app.css" />
    <script
      crossorigin="anonymous"
      src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"
    ></script>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include("../partials/navbar") %>
    <main class="container mt-4">
      <%- include("../partials/successFlash") %>
      <%-include("../partials/errorFlash") %> <%- body %>
    </main>
    <%- include("../partials/footer") %>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap-5.0.2-dist/js/clientSideFormValidation.js"></script>
    <script
      crossorigin="anonymous"
      src="/bootstrap-5.0.2-dist/js/bs-custome-file-input.min.js"
    ></script>
  </body>
</html>
