<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">Editting <%= camp.title %> Camp</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= camp._id %>?_method=PUT"
      method="post"
      class="validated-form"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Campground Title: </label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= camp.title %>"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Campground Location: </label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= camp.location %>"
          required
        />
        <div class="valid-feedback">Location Looks Good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price: </label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            name="campground[price]"
            value="<%= camp.price %>"
            required
          />
          <div class="valid-feedback">Price Looks Good!</div>
        </div>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <label class="form-label" for="description"
            >Campground description:
          </label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="campground[description]"
            required
          >
<%= camp.description %></textarea
          >
          <div class="valid-feedback">Description Looks Good!</div>
        </div>
        <label class="form-label">Upload Images: </label>
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control custom-file"
            id="image"
            name="campground[images]"
            multiple
            required
          />
          <label class="input-group-text" for="image">Upload</label>
        </div>
        <div class="valid-feedback">Image Looks Good!</div>
      </div>
      <div class="">
        <% camp.images.forEach((img,i)=>{ %>
        <img class="img-thumbnail" src="<%= img.thumbNail %>" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deletedImages[]"
            id="image-<%= i%>"
            value="<%= img.filename %>"
          />
        </div>
        <label for="image-<%= i%>">Delete img?</label>
        <% }) %>
      </div>
      <button class="btn btn-success mb-3">Update Campground</button>
    </form>
    <a class="btn btn-primary" href="/campgrounds">Back to List</a>
    <a class="btn btn-danger" href="/campgrounds/<%= camp._id %>">Cancel</a>
  </div>
</div>
